
<div class="nav-menu">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/add-expense">Add Expense</a></li>
        <li><a href="/view-expenses">View Expenses</a></li>
        <li><a href="/settings">Settings</a></li>
    </ul>
</div>

<style>
    .nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 200px;
        height: 100%;
        background-color: #343a40;
        color: white;
        padding: 20px 0;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }

    .nav-menu ul {
        list-style: none;
        padding: 0;
    }

    .nav-menu ul li {
        margin: 15px 0;
        text-align: center;
    }

    .nav-menu ul li a {
        color: white;
        text-decoration: none;
        font-size: 1.1em;
    }

    .nav-menu ul li a:hover {
        text-decoration: underline;
    }
</style>

